.iridescence-container {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  min-height: 100dvh;
  z-index: 1;
}

@media (max-width: 1195px) {
  .iridescence-container {
    width: 100vw;
    height: 120vh;
    height: calc(120vh + env(safe-area-inset-bottom));
    height: 105dvh;
    min-height: 120vh;
    min-height: calc(120vh + env(safe-area-inset-bottom));
    min-height: 105dvh;

    @supports (height: calc(105vh + env(safe-area-inset-bottom))) {
      height: calc(105vh + env(safe-area-inset-bottom));
      min-height: calc(105vh + env(safe-area-inset-bottom));
    }
  }
}

@media (max-width: 835px) {
  .iridescence-container {
    width: 100vw;
    height: 120vh;
    height: calc(120vh + env(safe-area-inset-bottom));
    height: 105dvh;
    min-height: 120vh;
    min-height: calc(120vh + env(safe-area-inset-bottom));
    min-height: 105dvh;

    @supports (height: calc(105vh + env(safe-area-inset-bottom))) {
      height: calc(105vh + env(safe-area-inset-bottom));
      min-height: calc(105vh + env(safe-area-inset-bottom));
    }
  }
}
