.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 16px;
  fill: #1a1a1a;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}
