.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 16px;
  fill: #1a1a1a;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1;
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}

.moon_box {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-style: solid;
    transform: translate(-50%, -50%);
    border-color: #1a1a1a;
    content: "";
  }

  &.type00 {
    &::before {
      border-width: 1px;
      transform: translate(-50%, -50%) scale(0.95);
    }
  }

  &.type01 {
    &::before {
      border-right-width: 12px;
    }
  }

  &.type02 {
    &::before {
      border-right-width: 32px;
    }
  }

  &.type03 {
    &::before {
      border-right-width: 60px;
    }
  }

  &.type04 {
    &::before {
      border-left-width: 32px;
    }
  }

  &.type05 {
    &::before {
      border-left-width: 12px;
    }
  }
}

.folder {
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:not(.folder--click) {
    transform: translateY(-8px);

    .paper {
      transform: translate(-50%, 0%);
    }

    .folder__front {
      transform: skew(15deg) scaleY(0.6);
    }

    .right {
      transform: skew(-15deg) scaleY(0.6);
    }
  }

  &.open {
    transform: translateY(-8px);

    .paper {
      background: #f2f2f2;

      &:nth-child(1) {
        transform: translate(-180%, -80%) rotateZ(-25deg);

        &:hover {
          transform: translate(-180%, -80%) rotateZ(-25deg) scale(1.1);
        }
      }

      &:nth-child(2) {
        transform: translate(-80%, -75%) rotateZ(-10deg);
        width: 70%;
        height: 80%;

        &:hover {
          transform: translate(-80%, -75%) rotateZ(-10deg) scale(1.1);
        }
      }

      &:nth-child(3) {
        transform: translate(-50%, -100%) rotateZ(5deg);
        width: 70%;
        height: 80%;

        &:hover {
          transform: translate(-50%, -100%) rotateZ(5deg) scale(1.1);
        }
      }

      &:nth-child(4) {
        transform: translate(40%, -55%) rotateZ(20deg);
        width: 70%;
        height: 80%;

        &:hover {
          transform: translate(40%, -55%) rotateZ(20deg) scale(1.1);
        }
      }

      &:nth-child(5) {
        transform: translate(50%, -80%) rotateZ(35deg);
        width: 70%;
        height: 80%;

        &:hover {
          transform: translate(50%, -80%) rotateZ(35deg) scale(1.1);
        }
      }
    }

    .folder__front {
      transform: skew(15deg) scaleY(0.6);
    }

    .right {
      transform: skew(-15deg) scaleY(0.6);
    }
  }
}

.folder__back {
  position: relative;
  width: 100px;
  height: 80px;
  background: #9a47ff;
  border-radius: 0px 10px 10px 10px;

  &::after {
    position: absolute;
    z-index: 0;
    bottom: 98%;
    left: 0;
    content: "";
    width: 30px;
    height: 10px;
    background: #9a47ff;
    border-radius: 5px 5px 0 0;
  }
}

.paper {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  height: 80%;
  background: #e6e6e6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: multiply;
  }

  &:nth-child(2) {
    background: #fafafa;
    width: 75%;
    height: 75%;
  }

  &:nth-child(3) {
    width: 80%;
    height: 70%;
  }

  &:nth-child(4) {
    background: #fafafa;
    width: 85%;
    height: 65%;
  }

  &:nth-child(5) {
    width: 90%;
    height: 60%;
  }
}

.folder__front {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #b770ff;
  border-radius: 5px 10px 10px 10px;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}

.list_m {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-m-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 12px;
  cursor: pointer;
  top: 0;
  left: 0;
  border-radius: 16px;

  > .item-m-img {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    border-radius: 16px;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
  }
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 0, 150, 0.5), rgba(0, 150, 255, 0.5));
  opacity: 0;
  pointer-events: none;
  border-radius: 16px;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
