.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px 0;
  box-sizing: border-box;
  z-index: 10;

  h1,
  nav {
    color: #1a1a1a;
  }

  h1 {
    font-weight: 100;
  }

  .navi {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      background-color: transparent;
      padding: 5px;
      border: 1px solid #1a1a1a;
      border-radius: 3px;
      color: #1a1a1a;
      cursor: pointer;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      transition: height 0.1s linear, opacity 1s ease-in;
      background: linear-gradient(180deg, rgb(0 0 0 / 80%) 30%, rgba(0, 0, 0, 0) 100%);
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      content: "";
    }

    .navi_btn {
      width: 50px;
      height: 50px;
      background-color: #1a1a1a;
      border-radius: 50%;
      transition: box-shadow 0.5s linear;
      box-shadow: -20px 0 0 #000 inset;
    }

    .nav_ul {
      position: fixed;
      top: 50%;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transform: translateY(-50%);
      pointer-events: none;

      li {
        position: relative;
        width: fit-content;
        height: fit-content;
        padding-right: 25px;
        text-align: right;

        button {
          display: block;
          border: 0;
          opacity: 0;
          font-size: 18px;
          font-weight: 100;
          text-transform: capitalize;
          color: #000;
          transition: color 0.5s linear, opacity 0.5s linear;
          user-select: none;
        }

        &::before {
          position: absolute;
          top: calc(50% - 10px);
          right: 10px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #1a1a1a;
          transform: translateY(400%);
          transition: box-shadow 0.5s linear;
          content: "";
        }

        &:not(:last-child) {
          padding-bottom: 20px;

          &::before {
            transform: translateY(50%);
          }
        }

        &.active {
          button {
            opacity: 1;
            color: #1a1a1a;
          }

          &::before {
            box-shadow: 0 0 5px 1px #1a1a1a, 0 0 15px 5px #1a1a1a;
          }
        }
      }
    }

    .top {
      position: fixed;
      right: 25px;
      bottom: 25px;
      border: 0;
      opacity: 0;
      transition: opacity 0.5s linear;
      font-weight: 200;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        content: "";
      }

      &::before {
        right: -15px;
        width: 10px;
        height: 10px;
        transform: translateY(-75%) rotate(45deg);
        border: 1px solid #1a1a1a;
        border-right: 0;
        border-bottom: 0;
      }

      &::after {
        right: -10px;
        width: 1px;
        height: 20px;
        transform: translate(20%, -45%);
        border-right: 1px solid #1a1a1a;
      }

      &.active {
        opacity: 1;
      }
    }

    &.active {
      &::before {
        height: 100vh;
        height: 100dvh;
        opacity: 1;
      }

      .navi_btn {
        box-shadow: 20px 0 0 #000 inset, 0 0 25px #ffd974;
      }

      .nav_ul {
        pointer-events: auto;

        li {
          button {
            opacity: 1;
            visibility: visible;
            color: #1a1a1a;
          }
        }
      }
    }
  }

  .moon_box {
    position: fixed;
    left: 150px;
    top: 26px;
  }
}
