.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px 0;
  box-sizing: border-box;
  z-index: 10;

  h1,
  nav {
    color: #1a1a1a;
  }

  h1 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
      "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 100;
  }

  .navi {
    position: fixed;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);

    .nav_ul {
      display: flex;
      align-items: center;
      column-gap: 12px;
      padding: 12px;
      background: rgba(255, 255, 255, 0);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4px) saturate(180%) brightness(110%);
      -webkit-backdrop-filter: blur(4px) saturate(180%) brightness(110%);
      border: 1px solid rgba(255, 255, 255, 0.9);
      overflow: hidden;

      li {
        position: relative;
        width: fit-content;
        height: fit-content;
        text-align: right;
        mix-blend-mode: exclusion;
      }

      button {
        display: block;
        width: 120px;
        padding: 12px 0;
        background: #fff;
        border-radius: 8px;
        color: #1a1a1a;
        cursor: pointer;
        font-size: 16px;
        font-weight: 100;
        text-transform: capitalize;
        transition: all 0.5s linear;
        user-select: none;

        &.active {
          background: #1a1a1a;
          color: #fff;
          font-weight: 300;
        }
      }
    }

    .top {
      position: fixed;
      right: 25px;
      bottom: 25px;
      border: 0;
      opacity: 0;
      transition: opacity 0.5s linear;
      font-weight: 200;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        content: "";
      }

      &::before {
        right: -15px;
        width: 10px;
        height: 10px;
        transform: translateY(-75%) rotate(45deg);
        border: 1px solid #1a1a1a;
        border-right: 0;
        border-bottom: 0;
      }

      &::after {
        right: -10px;
        width: 1px;
        height: 20px;
        transform: translate(20%, -45%);
        border-right: 1px solid #1a1a1a;
      }

      &.active {
        opacity: 1;
      }
    }

    &.active {
      &::before {
        height: 100vh;
        height: 100dvh;
        opacity: 1;
      }

      .navi_btn {
        box-shadow: 20px 0 0 #000 inset, 0 0 25px #ffd974;
      }

      .nav_ul {
        pointer-events: auto;

        li {
          button {
            opacity: 1;
            visibility: visible;
            color: #1a1a1a;
          }
        }
      }
    }
  }

  .moon_box {
    position: fixed;
    left: 150px;
    top: 26px;
  }
}

@media (min-width: 1080px) and (max-width: 1195px) and (min-height: 650px) and (max-height: 835px) {
  .header {
    .navi {
      bottom: 52px;

      @supports (bottom: env(safe-area-inset-bottom)) {
        bottom: calc(env(safe-area-inset-bottom) + 32px);
      }
    }
  }
}

@media (min-width: 650px) and (max-width: 835px) and (min-height: 1020px) and (max-height: 1181px) {
  .header {
    .navi {
      bottom: 24px;

      @supports (bottom: env(safe-area-inset-bottom)) {
        bottom: calc(env(safe-area-inset-bottom) + 24px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    h1 {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }

    .moon_box {
      top: 160px;
      left: 25.5px;
    }

    .navi {
      width: 90%;
      .nav_ul {
        li {
          width: calc(100% - 36px / 4);
        }

        button {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .header {
    display: block;
    width: fit-content;

    h1 {
      font-size: 1.6rem;
    }

    .moon_box {
      top: 8.5rem;
    }

    .navi {
      width: 95%;

      .nav_ul {
        padding: 0.5rem;
        column-gap: 0.5rem;

        li {
          width: calc(25% - 0.375rem);
        }

        button {
          width: 100%;
          font-size: 1rem;
        }
      }
    }
  }
}
