.resume {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  background-color: #d8d8d8;

  > * {
    width: 1300px;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 12px;

    p {
      font-size: 20px;
    }
  }

  li {
    width: calc(100% / 3 - 12px);
    display: flex;
    align-items: center;
  }

  p {
    font-size: 24px;
    font-weight: 500;

    span {
      display: block;
      margin: 0 auto 8px;
      font-weight: 700;
    }
  }

  a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

    &.link {
      &:after {
        display: inline-flex;
        content: "";
        width: 19px;
        height: 19px;
        margin-left: 4px;
        background: center / contain url("../img/share.svg") no-repeat;
      }
    }
  }

  .icon_box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #fff;
    border-radius: 12px;
    margin-right: 12px;

    svg {
      fill: #1a1a1a;
    }

    img {
      width: 100%;
    }
  }

  .profile {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1365px) {
  .resume {
    > * {
      width: calc(100% - 120px);
    }
  }
}

@media (max-width: 1000px) {
  .resume {
    li {
      width: calc(50% - 6px);
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 835px) {
  .resume {
    width: 100%;
    overflow-x: hidden;

    > * {
      width: calc(100% - 120px);
    }

    li {
      width: calc(50% - 6px);
      display: flex;
      align-items: center;
    }

    .icon_box {
      svg {
        fill: #1a1a1a;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .resume {
    > * {
      width: calc(100% - 120px);
    }

    p {
      font-size: 1.2rem;
      word-break: keep-all;
    }

    a {
      width: calc(100% - 56px);
      font-size: 1rem;
    }

    li {
      width: 100%;

      p {
        font-size: 1rem;
      }
    }
  }
}
