.works-trigger {
  position: absolute;
  top: 0px;
  height: 1px;
  width: 100%;
}

.site_list {
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding: 80px 50px;
  color: #1a1a1a;

  h3 {
    width: 1300px;
    font-size: 25px;
    font-weight: 500;
    margin: 0 auto 30px;
  }

  .site_list_wrap {
    max-width: 1200px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;

    *::selection {
      background-color: #fafafa;
      color: #1a1a1a;
    }

    figure {
      width: 35%;
      user-select: none;

      img {
        display: block;
        width: 100%;
        border-radius: 20px;
      }
    }

    .list_m {
      position: relative;
      z-index: 5;

      img {
        width: 100%;
        object-fit: cover;
      }

      p {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 101%;
        height: 101%;
        background-color: #fafafa;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s linear;
        font-size: 24px;
        font-weight: 300;
        color: #1a1a1a;
        opacity: 0;
      }

      span {
        position: absolute;
        left: 16px;
        bottom: 16px;
        display: flex;
        padding: 8px 12px;
        background-color: #1a1a1a;
        font-size: 16px;
        font-weight: 300;
        color: #fafafa;
        border-radius: 12px;

        &.vue {
          background-color: #4fc08d;
        }
        &.react {
          background-color: #61dafb;
        }
      }

      .item-m-wrapper {
        p {
          font-size: 24px;
          font-weight: 500;
          background-color: #fafafa;
          border-radius: 16px;
          box-shadow: 0 0 20px #ddd;
          transition: background-color 0.5s linear;
        }

        &:hover {
          p {
            opacity: 0.8;
          }
        }
      }

      .item-m-img {
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
      }

      .img_mo {
        display: none;
      }
    }
  }

  .site_flt {
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    margin: 0 auto;

    button {
      padding: 8px 12px;
      font-size: 16px;
      font-weight: 300;
      color: #fafafa;
      text-transform: uppercase;
    }

    li {
      border-radius: 16px;
    }

    svg {
      width: 24px;
      height: 24px;
      stroke-width: 0;
      transition: all 0.5s linear;
    }

    .vue {
      color: #1a1a1a;
      background-color: #ddd;

      svg {
        fill: #4fc08d;
      }
      &.active {
        background-color: #4fc08d;
      }
    }

    .react {
      color: #1a1a1a;
      background-color: #ddd;

      svg {
        fill: #61dafb;
      }
      &.active {
        background-color: #61dafb;
      }
    }

    .javascript {
      background-color: #f7df1e;

      svg {
        fill: #f7df1e;
      }
    }

    .jquery {
      background-color: #0769ad;

      svg {
        fill: #0769ad;
      }
    }
  }

  .site_type {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;

    svg {
      width: 80px;
      height: 80px;
      stroke-width: 0;
      transition: all 0.5s linear;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      &.active {
        svg {
          fill: #fff;
        }

        .vue {
          background-color: #4fc08d;
        }
        .react {
          background-color: #61dafb;
        }
        .javascript {
          background-color: #f7df1e;
        }
        .jquery {
          background-color: #0769ad;
        }
      }
    }

    button {
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 500;
      background-color: #fafafa;
      border-radius: 16px;
      box-shadow: 0 0 20px #ddd;
      transition: background-color 0.5s linear;

      span {
        margin-top: 12px;
        color: #1a1a1a;
      }
    }

    .vue {
      svg {
        fill: #4fc08d;
      }
    }

    .react {
      svg {
        fill: #61dafb;
      }
    }

    .javascript {
      svg {
        fill: #f7df1e;
      }
    }

    .jquery {
      svg {
        fill: #0769ad;
      }
    }
  }

  .site_thumb {
    display: none;
    flex-wrap: wrap;
    width: 1300px;
    gap: 18px;

    &.active {
      display: flex;
    }

    li {
      width: calc(100% / 3 - 12px);
      height: 237px;
      background-color: #fff;
      border-radius: 22px;
      overflow: hidden;

      button {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 101%;
          height: 101%;
          object-fit: cover;
          object-position: center;
        }

        p {
          position: absolute;
          left: 50%;
          top: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 101%;
          height: 101%;
          background-color: #fafafa;
          transform: translate(-50%, -50%);
          transition: opacity 0.5s linear;
          font-size: 24px;
          font-weight: 300;
          color: #1a1a1a;
          opacity: 0;
        }

        .img_mo {
          display: none;
        }
      }

      &:hover {
        p {
          opacity: 0.8;
        }
      }
    }
  }

  .site_ul {
    display: none;
    > li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 2.5%;
      padding: 40px 0;
      word-break: keep-all;

      &::before,
      &::after {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 90%;
        height: 1px;
        background-color: #1a1a1a;
        transform: translateX(-50%);
        content: "";
      }

      &::after {
        display: none;
        top: initial;
        bottom: 0px;
      }

      &:last-child {
        &::after {
          display: block;
        }
      }

      h3 {
        position: relative;
        color: #1a1a1a;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      ul {
        position: relative;
        width: 42%;
        font-weight: 300;
        text-align: left;
        word-break: keep-all;

        li {
          margin: 0 auto;
          font-size: 14px;
          color: #1a1a1a;

          &:nth-of-type(1) {
            font-size: 20px;
            font-weight: 500;
          }

          &:nth-of-type(2) {
            font-size: 15px;
          }

          &:nth-of-type(3) {
            line-height: 20px;

            p {
              width: inherit;
              font-size: inherit;
            }
          }

          &:nth-of-type(4) {
            display: flex;
            column-gap: 20px;
            margin-top: 20px;
          }

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .site_pop {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 1280px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 100px 40px 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.19);
    user-select: none;
    pointer-events: none;
    transform: scale(0.75) translate(-50%, -50%);
    transform-origin: left;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.24, 0.28, 0.25, 1.21);
    z-index: 10;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 56px;
      background-color: #1a1a1a;
      border-radius: 4px;
      margin: 12px 24px 0 0;
      color: #fafafa;
      text-decoration: none;
      text-shadow: none;
    }

    h4 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    strong {
      display: block;
      font-size: 20px;
    }

    p {
      margin: 16px 0 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      word-break: keep-all;
    }

    &.open {
      user-select: auto;
      pointer-events: visible;
      opacity: 1;
      transform: scale(1) translate(-50%, -50%);
    }

    .info_img {
      width: 55%;
    }

    .text_box {
      padding: 0 0 0 24px;
      width: 45%;
      text-shadow: 0 0 20px #fafafa;
    }

    .btn_close {
      position: absolute;
      top: 40px;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 56px;
      background-color: #1a1a1a;
      color: #fafafa;
      border-radius: 8px;
      transform: translateX(-50%);
      font-size: 16px;
      font-weight: 500;

      &::after {
        content: "×";
        display: inline-flex;
        align-items: center;
        height: 24px;
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .site_list {
    h3 {
      width: 100%;
    }

    .site_thumb {
      width: 100%;
    }
  }
}

@media (max-width: 1195px) {
  .site_list {
    h3 {
      margin-bottom: 20px;
    }

    .site_list_wrap {
      row-gap: 20px;
      align-items: center;
      height: 960px;
      padding-top: 10px;

      .site_type {
        column-gap: 36px;

        li {
          gap: 8px;
        }

        svg {
          width: 60px;
          height: 60px;
        }

        button {
          width: 90px;
          height: 90px;
          font-size: 24px;
          font-weight: 500;
        }
      }

      .site_thumb {
        width: 980px;
        height: calc(100% - 50px);
        gap: 18px;

        li {
          width: calc((100% - 36px) / 3);
          height: calc((100% - 18px) / 2);

          border-radius: 12px;
        }
      }

      .site_pop {
        top: 55%;
        width: 1000px;
        height: 520px;
        padding: 100px 40px 40px;

        a {
          width: 175px;
          height: 56px;
          margin: 8px 12px 0 0;
        }

        h4 {
          margin-bottom: 8px;
        }

        .info_img {
          width: 50%;
        }

        .text_box {
          padding: 0 0 0 24px;
          width: 50%;
          text-shadow: 0 0 20px #fafafa;
        }

        .btn_close {
          top: 32px;
          &::after {
            height: 32px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .site_list {
    .site_list_wrap {
      .site_pop {
        top: 50%;
        width: 640px;
        height: 760px;
        flex-direction: column;
        padding: 100px 40px 40px;

        a {
          display: inline-flex;
          width: 175px;
          height: 56px;
          margin: 12px 12px 0 auto;

          &:nth-of-type(2) {
            margin: 12px auto 0 12px;
          }
        }

        h4 {
          width: 100%;
          margin-bottom: 8px;
        }

        .info_img {
          width: 75%;
          margin-bottom: 16px;
        }

        .text_box {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          padding: 0;
          text-shadow: 0 0 20px #fafafa;
        }

        .btn_close {
          top: 32px;

          &::after {
            height: 32px;
          }
        }
      }
    }
  }
}

@media (max-width: 835px) {
  .site_list {
    width: 100%;
    overflow: hidden;

    h3 {
      margin-bottom: 20px;
    }

    .site_list_wrap {
      height: 1200px;
      row-gap: 20px;
      align-items: center;
      padding-top: 10px;

      .site_thumb {
        width: 640px;
        gap: 18px;
        margin-top: 16px;

        li {
          width: calc((100% - 18px) / 2);
          height: 178px;
          aspect-ratio: 305/171;
          border-radius: 12px;

          img {
            aspect-ratio: 305/171;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .site_list {
    h3 {
      width: 100%;
      text-align: center;
    }

    .site_type {
      width: 100%;
      flex-wrap: wrap;
      column-gap: 12px;
      font-size: 14px;

      button {
        width: 60px;
        height: 60px;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .site_thumb {
      width: 100%;
      gap: 1.6rem 0;

      li {
        width: 100%;
        height: fit-content;
        border-radius: 12px;

        button {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          padding: 0.5rem;

          img {
            display: none;
          }

          .img_mo {
            display: block;
            width: 3rem;
          }

          p {
            position: relative;
            left: initial;
            top: initial;
            transform: initial;
            width: fit-content;
            opacity: 1;
            background-color: transparent;
            font-size: 1.2rem;
            font-weight: 500;
          }

          &:after {
            content: "";
            display: flex;
            width: 1.2rem;
            min-width: 19.184px;
            height: 1.2rem;
            background: center / contain no-repeat url("../img/share.svg");
          }
        }
      }
    }

    .site_pop {
      width: 90%;
      height: fit-content;
      max-height: calc(100% - 100px);
      flex-direction: column;
      padding: 100px 20px 20px;

      h4 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      figure {
        img {
          border-radius: 12px;
        }
      }

      p {
        margin: 6px 0;
        font-size: 14px;
      }

      a {
        display: inline-flex;
        width: calc(50% - 12px);
        margin: 12px auto 0;
        font-size: 1.2rem;
      }

      .info_img {
        width: 100%;
        margin-bottom: 12px;
      }

      .text_box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
      }

      .btn_close {
        top: 25px;

        &:after {
          margin-bottom: 4px;
        }
      }
    }

    .site_list_wrap {
      .site_pop {
        position: fixed;
      }
    }
  }
}

@media (max-width: 680px) {
  .site_list {
    .site_list_wrap {
      .site_pop {
        width: 76%;
        height: 690px;
        padding: 100px 20px 20px;

        a {
          width: 168px;
          height: 44px;
          font-size: 1rem;
          margin: 12px auto;

          &:nth-of-type(2) {
            margin: 0 auto;
          }
        }

        p {
          max-height: 184px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 2px;
            height: 8px;
            background-color: #aaa;
          }
        }

        .btn_close {
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .site_list {
    .site_list_wrap {
      height: 2000px;
    }
  }
}

@media (max-width: 440px) {
  .site_list {
    .site_list_wrap {
      .site_pop {
        width: 84%;
        height: 624px;

        a {
          width: 132px;
          height: 36px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .site_list {
    padding: 80px 24px;

    h3 {
      font-size: 20px;
    }

    .site_list_wrap {
      height: 2000px;
    }

    .site_type {
      width: 100%;
      flex-wrap: wrap;
      column-gap: 0.8rem;
      font-size: 1rem;

      li {
        width: calc(25% - 0.6rem);
      }

      button {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
      }
    }

    .site_pop {
      width: 90%;
      height: fit-content;
      max-height: calc(100% - 100px);
      flex-direction: column;
      padding: 100px 20px 20px;

      h4 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      figure {
        img {
          border-radius: 12px;
        }
      }

      p {
        max-height: 240px;
        margin: 6px 0;
        font-size: 1rem;
        overflow-y: scroll;
      }

      a {
        display: inline-flex;
        width: calc(50% - 12px);
        margin: 12px auto 0;
        font-size: 12px;
      }

      .info_img {
        width: 100%;
        margin-bottom: 12px;
      }

      .text_box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
      }

      .btn_close {
        top: 25px;

        &:after {
          margin-bottom: 4px;
        }
      }
    }
  }
}
